/* Fonts */
@font-face {
	font-family: 'Elnath';
	src: url('elnath-webfont.woff2') format('woff2'), url('elnath-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* Elements */
body {
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: #1d2038;
	font-family: 'SF Pro Display';
	color: white;
	white-space: nowrap;
	text-align: center;
	overflow: hidden;
}

/* Classes */
.center {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.text-chrome {
	margin: 0;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(35deg, hsl(310, 100%, 65%), hsl(160, 100%, 65%));
}

/* Right Area (Dark Zone) */
#dark-zone {
	background-color: #090b10;
	z-index: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	animation: slideIntro 2s cubic-bezier(0.22, 1, 0.36, 1) 5.6s forwards;
}

#dark-container {
	box-shadow: rgba(0, 0, 0, 0.9) -2px 2px 5px;
	background-color: #090b10;
	margin: 0% 0% 1% auto;
	width: 65%;
	height: 100%;
	border-radius: 20px 0px 0px 20px;
}

#dark-container textarea {
	background-color: #fff;
	background: transparent;
}

/* Introduction Box (Slide Out) */
#intro-box {
	background-color: #090b10;
	animation: fadeOutPop 2s cubic-bezier(0.22, 1, 0.36, 1) 5s forwards;
}

#intro-box h1 {
	position: absolute;
	font-size: 7rem;
	margin: auto;
}

#intro-box h2 {
	font-family: 'Elnath';
	opacity: 0;
	animation: fadeIn 5s 2s forwards, right-hide 1s 8s forwards;
	text-shadow: 0px 0px 50px rbga(0, 0, 0, 0.3);
	letter-spacing: 2rem;
	font-size: 30rem;
	margin: auto 0;
	color: transparent;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: white;
	margin-top: 2rem;
}

/* Ava Box (Left) Setup */
#light-zone {
	z-index: -1;
	width: 35%;
	height: 100vh;
}

#light-zone img {
	position: relative;
	width: 80%;
	top: 50%;
	opacity: 0;
	transform: translateY(-50%);
	animation: fadeIn 2s ease-in 6s forwards;
}

/* Animations */
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeOutPop {
	0% {
		opacity: 1;
		transform: scale(1);
	}

	20% {
		transform: scale(1.2);
	}

	100% {
		opacity: 0;
		transform: scale(0.3);
	}
}

@keyframes slideIntro {
	from {
		transform: translateX(0%);
		border-radius: 0;
		display: inline;
	}
	to {
		transform: translateX(35%);
		border-radius: 20px;
		display: none;
	}
}

@keyframes right-hide {
	from {
		display: inline;
	}
	to {
		display: none;
	}
}

@keyframes right-show {
	from {
		display: none;
	}
	to {
		display: inline;
	}
}

/* Animations */
.sliding-text {
	font-weight: 700;
}

.sliding-text .text-wrapper {
	position: relative;
	display: inline-block;
	padding: 0.1em, 0, 0.15em, 0.05em;
}

.sliding-text .line {
	opacity: 0;
	position: absolute;
	left: 0;
	height: 100%;
	width: 3px;
	background-color: #fff;
	transform-origin: 0 50%;
}

.sliding-text .line1 {
	top: 0;
	left: 0;
}

.sliding-text .letter {
	display: inline-block;
	line-height: 1em;
}

/* Website Responsiveness */
@media (max-width: 600px) {
	#dark-zone {
		zoom: 25%;
	}
}

@media (min-width: 601px) and (max-width: 1300px) {
	#dark-zone {
		zoom: 50%;
	}
}

@media (min-width: 1301px) {
	#dark-zone {
		zoom: 100%;
	}
}
